# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
build/

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & Temp files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.tempmediaStorage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Scratch
scratch/

